.service-icon{
    font-size: 35px;
    color: gray;
    cursor: pointer;
}
.service-icon:hover{
    color: crimson;
}
.service-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.service-card{
    border-bottom:3px solid gray
}
.service-card:hover{
    border-bottom: 3px solid crimson;
}
