.line{
    border: 1px solid lightgray;
    height: 2px;
    width:50%
}
.icon{
    width: 30px;
}
.btn-google{
    border: 1px solid lightgray;
}
.btn-github{
    background-color: black;
    color: white;
}
.btn-github:hover{
    color:white;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}